version: '3'
services:
  registry:
    container_name: registry
    image: registry:2
    restart: always
    ports:
      - 5000:5000
    networks:
      - proxy
    labels: 
      - "traefik.enable=true" 
      - "traefik.http.routers.registry.rule=Host(`${HOST}`)"
      - "traefik.http.routers.registry.service=registry"
      - "traefik.docker.network=proxy"
      - "traefik.http.middlewares.auth-registry.basicauth.removeheader=true"
      - "traefik.http.routers.registry.middlewares=auth-registry"
      - "traefik.http.middlewares.auth-registry.basicauth.users=${PSWD}"
      - "traefik.http.routers.registry.entrypoints=websecure"
      - "traefik.http.routers.registry.tls=true"
      - "traefik.http.routers.registry.tls.certresolver=letsencrypt"
      - "traefik.http.services.registry.loadbalancer.server.port=5000"
    volumes:
      - ./data:/var/lib/registry
networks: 
 proxy: 
   external: true